@using Analyze.Shared.Common.Report;
@model ParList

@*基础信息保存*@
@if (Model.ParEe != null)
{
    using (Html.BeginForm("Index", "EmployeeReportRead", FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">

            @foreach (var item in Model.ParEe)
            {
                <div class="text-center">
                    <button class="btn btn-link btn-lg" type="button" onclick="showFile(3)"><i class="glyphicon glyphicon-refresh"></i>点击此处刷新当前模块</button>/
                    <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEeLog">
                        <i class="glyphicon glyphicon-list"></i>点击此处展开/收缩日志
                    </button>
                    <div id="collapseEeLog" class="panel-collapse collapse">
                        @Html.TextAreaFor(m => item.log_result, new { @class = "form-control", @id = "txtLogResultEe", @autocomplete = "off", @readonly = "true", @rows = "5" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <label>分析结论</label>

                    @Html.TextBoxFor(m => item.analysis_conclusion, new
                            {
                                @id = "txtAnalysisConclusionEe",
                                @class = "form-control placeholder-no-fix",
                                @type = "text",
                                @autocomplete = "off",
                                @placeholder = "待补充分析结论...",
                                @readonly = true,
                                @style = "background-color:white"
                            })
                </div>
                <div class="form-horizontal">
                    <label>分析步骤</label>
                    @Html.TextAreaFor(m => item.analysis_steps, new
                        {
                            @id = "txtAnalysisStepsEe",
                            @class = "form-control placeholder-no-fix",
                            @autocomplete = "off",
                            @rows = "5",
                            @placeholder = "待补充分析步骤...",
                            @readonly = true,
                            @style = "background-color:white"
                        })
                </div>
            }
            <br />
            @*执行成功/失败提示*@
            <div id="saveEeAlert"><br /></div>

            @if (Model.ParFileUpload != null)
            {
                <div class="form-horizontal">
                    <br />
                    <table class="table table-bordered table-hover">
                        <caption class="text-center">附件列表</caption>
                        <thead>
                            <tr>
                                <th>文件名称</th>
                                <th>信息</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ParFileUpload)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.file_name, "ShowFile", new { filePath = item.file_url }, new { target = "_blank" })</td>
                                    <td>
                                        @Html.DisplayFor(m => item.update_time)
                                        <span>by</span>
                                        @Html.DisplayFor(m => item.user_detailed)
                                    </td>
                                    <td>@Html.ActionLink("下载", "DownloadFile", new { filePath = item.file_url })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
}


